	*{box-sizing: border-box;
	}
	html {
		background-color: white;


	}
	.header{
		background-color: white;
		padding: 55px;
		margin-bottom: 15px;
	    text-align: center;
	}
	body {
		font-family: Arial, Helvetica, sans-serif;
		margin: 0;
		background-color: white;
	}

	#bodyMargins{
		margin-left: .8%;
		margin-right: 5%;
	}
	h1 {
		margin-left: 370px;
		border-bottom: 3px solid silver;
		padding-bottom: 20px;
	}
	ul.topnav {
		list-style-type: none;
		margin: 5;
		padding: 5;
		overflow: hidden;
		top: 0;
		font-size: 22px;
		font-family: sans-serif;
		border-bottom: 3px solid black;
		padding-bottom: 15px;
	}
	ul.topnav li{
		float: left;
	}
	ul.topnav li a {
	    color: Black;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
			margin-top: 15px;
	}
	ul.topnav li.right {
		float: right;
	}
	ul.topnav li a.active {border-bottom: 5px solid red;}
	p {
	 font-size: 23px;
	 margin-left: 53px;
	}
	.btn-list{
		padding-left: 57px;
		float: left;
		width: 20%;
	}
	.btn-list button {
	background-color: grey;
  border: 1px solid black;
  padding: 10px 25px;
  cursor: pointer;
  display: block;
	font-family: sans-serif;
	background-color: #f1f1f1;
	text-decoration: none;
}
.btn-list button:hover {
  border: 3px solid black;
}

.Pictures {
  position: relative;
	float: left;
}
.Pictures img:not(:first-child) {
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev{
	margin-left:10px;
	right:100%;
		}
.next {
	margin-right:10px;
	left:100%;
}

.mySlides {
  display:inline;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
p.medicines {
	padding-top: 600px;
	padding-left: 295px;
	border-bottom: 3px solid silver;
}
table.viewed {
	border: 3px solid black;
	margin-left: auto;
	margin-right: auto;
}
.us{
	margin-left: auto;
	margin-right: auto;
	border: 3px solid black;
}
.Pictures img:not(:first-child) {
    display: none;
}
.log {
 border: 5px solid black;
 margin-left: auto;
 margin-right: auto;
}
.container {
  padding: 16px;
}
input[type=text], input[type=password] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.Sign{
	border: 5px solid black;
	margin-left: auto;
	margin-right: auto;
}
