<div class="footer-container" xmlns:th="http://www.thymeleaf.org">
    <p class="medicines">Most Viewed Medicines</p>
    <table class="viewed">
      <tr>
        <td><img src="pics/Ibuprofen-Tablets-400mg-10-10-prime-S-Box-Antipyretic-Analgesic-and-Anti-Inflammatory-Drugs.jpg"></td>
        <td><img src="pics/analgesic-pills-3d-rendering-isolated-260nw-396863362.jpg"></td>
        <td><img src="pics/antibiotic-resistance.jpg"></td>
      </tr>
       <tr>
      <td>Name:Ibuprofen					
      </td>
      <td>Name:Codeine								
      </td>
      <td>Name:Doxycycline							
      </td>
      </tr>
      <tr>
      <td>Catagory:Antipyretic					
      </td>
      <td>Catagory:Analgesic									
      </td>
      <td>Catagory:Antibiotic							
      </td>
      </tr>
      <tr>
      <td>Price:$50					
      </td>
      <td>Price:$65									
      </td>
      <td>Price:$75							
      </td>
      </tr>
       <tr>
      <td><a href="productList">Link</a>					
      </td>
      <td><a href="productList">Link</a>									
      </td>
      <td><a href="productList">Link</a>						
      </td>
      </tr>
      </table>
</div>