<div class="header-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

  
  <ul class="topnav">
    <li><a class="active" href="/" id="index">Medicare</a></li>
    <li><a href="about" id="About">About</a></li>
    <li><a href="contact" id="Contact">Contact</a></li>
    <li><a href="products" id="Products">View Products</a></li>
    <li class="right"><a href="login" id="Login">Login</a></li>
    <li class="right"><a href="signup" id="SignUp">Sign Up</a></li>
    <li class="right"><a th:href="@{/admin/logout}">Logout</a></li>
  </ul>
</div>
 