<div class="header-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

  <ul class="topnav">
    <li><a class="active" href="index.html" id="index">Medicare</a></li>
    <li><a href="about.html" id="About">About</a></li>
    <li><a href="contact.html" id="Contact">Contact</a></li>
    <li><a href="products.html" id="Products">View Products</a></li>
    <li class="right"><a href="login.html" id="Login">Login</a></li>
    <li class="right"><a href="signup.html" id="SignUp">Sign Up</a></li>
  </ul>
</div>
 