<div class="menu-container"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
   <p>Categories</p>
  <div class="btn-list">
  <button><a href="productList">Antipyretics</a></button>
  <button><a href="productList">Analgesics</a></button>
  <button><a href="productList">Antibiotics</a></button>
  </div> 
  <div class="Pictures">
    <img class="mySlides" th:src="@{pics/Best-online-Medicine-Delivery-App.jpg}"style="width = 100%">
    <img class="mySlides" th:src="@{pics/banner-medicine-ordering-apps-1.jpg}"style="width = 100%">
    <img class="mySlides" th:src="@{pics/online-pharmacy-store-service-hand-hold-smart-phone_48369-18742-1200x675.jpg}"style="width = 100%">
    <img class="mySlides" th:src="@{pics/medicine-delivery-app.jpg}"style="width = 100%">
    <button class="prev" onclick="plusDivs(-1)">&#10094;</button>
    <button class="next" onclick="plusDivs(+1)">&#10095;</button>
  </div>
</div>

 