<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Healthcare project</title>
  <link rel="stylesheet" href="styles.css">
  <script src="index.js"></script>
  <ul class="topnav">
    <li><a href="/" id="index">Medicare</a></li>
    <li><a href="about" id="About">About</a></li>
    <li><a class="active" href="contact" id="Contact">Contact</a></li>
    <li><a href="productList" id="Products">View Products</a></li>
    <li class="right">
	    <th:block sec:authorize="!isAuthenticated()">
	    	<a th:href="@{/admin/login}">Login</a>
	    </th:block>
    <!--<a href="login" id="Login">Login</a></li>-->
    <!--<li class="right"><a href="signup" id="SignUp">Sign Up</a></li>-->
    <th:block sec:authorize="!isAuthenticated()">
    	<a th:href="@{/signup}">Create Account</a>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
         <a th:href="@{/admin/logout}">Logout</a>
    </th:block>
    <!--<li class="right"><a th:href="@{/admin/logout}">Logout</a></li>-->
  </ul>
  </head>
  <body>
    <table class="us">
        <tr>
        <th>Member Name</th>
        <th>Email</th>
        <th>Phone number</th>
        </tr>
        <tr>
      <td>Jonathan Stiles</td>
      <td>jonathan.stiles@mphasis.com</td>
      <td>315-214-2757</td>
        </tr>
        <tr>
      <td>Dylan Nelson</td>
      <td>dylan.nelson@mphasis.com</td>
      <td>582-300-9010</td>
        </tr>
        <tr>
      <td>Ian brown</td>
      <td>ian.brown@mphasis.com</td>
      <td>208-432-2276</td>
      </tr>
    </table>
  </body>
</html>
