<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
   <head>
      <meta charset="UTF-8">
      <title>Product List</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
        <ul class="topnav">
    <li><a href="/" id="index">Medicare</a></li>
    <li><a href="about" id="About">About</a></li>
    <li><a href="contact" id="Contact">Contact</a></li>
    <li><a class="active" href="productList" id="Products">View Products</a></li>
    <li class="right">
	    <th:block sec:authorize="!isAuthenticated()">
	    	<a th:href="@{/admin/login}">Login</a>
	    </th:block>
    <!--<a href="login" id="Login">Login</a></li>-->
    <!--<li class="right"><a href="signup" id="SignUp">Sign Up</a></li>-->
    <th:block sec:authorize="!isAuthenticated()">
    	<a th:href="@{/signup}">Create Account</a>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
         <a th:href="@{/admin/logout}">Logout</a>
    </th:block>
    <!--<li class="right"><a th:href="@{/admin/logout}">Logout</a></li>-->
  </ul>
   </head>
   <body>
      
      <div class="page-title">Product List</div>
      
      <div class="product-preview-container" th:each="prodInfo : ${paginationProducts.list}">
         <ul>
            <li><img class="product-image" style="width:256px;height:256px;border: 5px solid #555;"
               th:src="@{|/productImage?code=${prodInfo.code}|}" /></li>
            <li>Code: <span th:utext="${prodInfo.code}"></span></li>
            <li>Name: <span th:utext="${prodInfo.name}"></span></li>
            <li>Price: <span th:utext="'$'+${#numbers.formatDecimal(prodInfo.price,3,2,'POINT')}"></span></li>
            <li>Category: <span th:utext="${prodInfo.category}"></span></li>
            <li>
               <a th:href="@{|/buyProduct?code=${prodInfo.code}|}">Buy Now</a>
            </li>
            <!-- For Manager edit Product -->
            <th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
               <li>
                 <a style="color:red;"
                    th:href="@{|/admin/product?code=${prodInfo.code}|}">Edit Product</a>
               </li>
            </th:block>
         </ul>
      </div>
      
      <br/>
      <div class="page-navigator" th:if="${paginationProducts.totalPages > 1}">
         <th:block th:each="page : ${paginationProducts.navigationPages}">
        
            <a th:href="@{|/productList?page=${page}|}" th:if="${page != -1}"
               class="nav-item" th:utext="${page}"></a>
              
            <span class="nav-item" th:if="${page == -1}"> ... </span>
            
         </th:block>
      </div>
      
      
   </body>
</html>