<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Healthcare project</title>
    <link rel="stylesheet" href="styles.css">
  <!--<script src="index.js"></script>-->
  </head>
  <body>
  	<th:block th:include="/_header"></th:block>	
    <h2>Create Account</h2>
    <form  th:action="@{/signup}" th:object="${newUserForm}" method="POST"> <!--th:object="${newUserForm}"-->  <!--action="signupServlet"--> 
	    <div class="Sign">
	      <input type="text" placeholder="Enter Username" name="Username" required>
	      <input type="text" placeholder="Confirm Username" name="Username1" required>
	      <input type="password" placeholder="Enter Password" name="password" required>
	      <input type="password" placeholder="Confirm Password" name="password1" required>
	      <input type="submit" value="Send" class="button-send-sc" />
	      <!--<a th:href="@{|/newUserSave?username=${getUserInfo.username}|}">Create Account</a>-->
	      <!--<button type="submit">SignUp</button>-->
	    </div>
	 </form>
  </body>
</html>
